form {
  width: 100%;
  text-align: center;
  align-items: center;
}

.subtitulo1 {
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100%;
  text-align: center;
  align-self: flex-end;
}

.box-preguntas {
  grid-column: 1/4;
  grid-row: 2/4;
  width: 100%;
  align-self: center;
}

.fondoopacity {
  width: 100%;
  height: 55px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.box-preguntas input {
  width: 85%;
}

.subtitulo2 {
  grid-column: 1/4;
  grid-row: 4/5;
  align-items: center;
  text-align: center;
}

.consultas {
  grid-column: 1/4;
  grid-row: 5/7;
  align-self: center;
  width: 100%;
  margin: 60px 0px;
}

.motivo input {
  width: 85%;
}

.mensajeayuda input {
  width: 85%;
  height: 200px;
}

.enviar {
  width: 100%;
  justify-content: center;

  input {
    height: 20px;
    width: 100px;
    margin: 12px;
    cursor: pointer;
    justify-content: center;
  }
}

.inputayuda {
  font-weight: bold;
  width: 100px;
  align-self: center;
  height: 45px;
  margin: 3px;
}