footer {
  display: flex;
  flex-direction: center;
  height: 50px;
  bottom: 0;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  background-color: #6c757d;
  align-items: center;
  padding: 20px;
  background:$background-footer;
}

.americanblinds {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-self: flex-end;
  width: 100%;
  height: 5px;
}