header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  min-height: 80px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  background: $backgrpund-header;
  border: 1px solid black;
}

.namepage {
  display: flex;
  align-items: center;
  margin-left: 10px;

  a {
    text-decoration: 0;
    color: black;

    p {
      grid-column: 1/2;
      grid-row: 1/3;
      font-size: 35px;
      width: auto;
      margin-left: 10px;
    }
  }
}

ul {
  gap: 5px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navegador {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  align-self: center;
  justify-self: center;
}

nav ul li a {
  text-decoration: 0;
  font-size: 20px;
  color: black;

  &:hover {
    color: rgba(0, 0, 0, 0.418);
  }
}

.bottons {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
  align-items: center;
}

button {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: black;
  border-color: rgb(160, 160, 160);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: rgb(30, 30, 30);
  }
}