@media (max-width: 576px) {

    /** MAQUETACION GRID **/

    .container-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: "main" "producto1" "producto2" "producto3" "producto4" "producto5" "producto6" "main";
    }


    /** ESTILOS HEADER **/

    .namepage a p {
        font-size: 30px;
    }

    .navegador .nav ul li a {
        font-size: 18px;
    }
  
    ul {
        text-align: center;
        margin: 5px 0px;
        gap: 2px;
    }


    /** ESTILOS MAININDEX **/

    .h1grid {
        grid-column: 1/2;
        grid-row: 3/5;

        h1 {
            font-size: 45px;
        }
    }


    /** ESTILOS PRODUCTOS **/

    .producto1 {
        @include products-prop-tablet (producto1, 1, 2)
    }

    .producto2 {
        @include products-prop-tablet (producto2, 1, 3)
    }

    .producto3 {
        @include products-prop-tablet (producto3, 1, 4)
    }

    .producto4 {
        @include products-prop-tablet (producto4, 1, 5)
    }

    .producto5 {
        @include products-prop-tablet (producto5, 1, 6)
    }

    .producto6 {
        @include products-prop-tablet (producto6, 1, 7)
    }

}