.product-title {
  color: #e6dcad;
  grid-column: 1/4;
  grid-row: 1/2;
  height: 50px;
}

.paragraph  {
  grid-column: 1/4;
  grid-row: 2/3;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  width: 95%;
  justify-self: center;
    p{
    color: white;
    }
}

.subtitle1 {
  grid-column: 1/4;
  grid-row: 3/4;
  margin-left: 80px;
  justify-self: start;
  align-self: center;
}
.paragraph1 {
  grid-column: 1/4;
  grid-row: 4/5;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  width: 95%;
  justify-self: center;
    p{
    color: white;
    } 
}
.subtitle2 {
  grid-column: 1/4;
  grid-row: 5/6;
  margin-left: 80px;
  justify-self: start;
  align-self: center;
  
}
.paragraph2 {
  grid-column: 1/4;
  grid-row: 6/7;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  width: 95%;
  justify-self: center;
    p{
    color: white;
    } 
  }
  .subtitle3 {
    grid-column: 1/4;
    grid-row: 7/8;
    margin-left: 80px;
    justify-self: start;
    align-self: center;
    
  }
  .paragraph3 {
    grid-column: 1/4;
    grid-row: 8/9;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    width: 95%;
    justify-self: center;
      p{
      color: white;
      } 
    }