.imgs {
    padding: 20px;
    justify-self: center;
    width: 350px;
    height: 350px;
  }
  
  .producto1 {
    grid-area: producto1;
    grid-column: 1/2;
    grid-row: 2/2;
    justify-self: center;
    align-items: center;
    padding: 20px 10px;
  }
  
  .producto2 {
    grid-area: producto2;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-items: center;
    padding: 20px 10px;
  }
  
  .producto3 {
    grid-area: producto3;
    grid-column: 3/4;
    grid-row: 2/5;
    justify-self: center;
    align-items: center;
    padding: 20px 10px;
  }
  
  .producto4 {
    grid-area: producto4;
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: center;
    align-items: center;
    padding: 20px 10px;
  }
  
  .producto5 {
    grid-area: producto5;
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    align-items: center;
    padding: 20px 10px;
  }
  
  .producto6 {
    grid-area: producto6;
    grid-column: 3/4;
    grid-row: 4/5;
    justify-self: center;
    align-items: center;
    padding: 20px 10px;
  }
  
  .target {
    border: 3px solid rgba(255, 255, 255, 0.13);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 350px;
    height: 460px;
    cursor: pointer;
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  
    &:hover {
      background: rgba(255, 255, 255, 0.2);
      -webkit-animation: scale-up-center 0.4s ease-out;
      animation: scale-up-center 0.4s ease-out;
    }
  
    h4 {
      margin: 15px;
      padding: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    }
  }
  
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }